@{
    ViewData["Title"] = "Gestión de Pedidos";
}

<div class="container mt-5">
    <h1 class="text-center">Gestión de Pedidos</h1>

    <div class="row justify-content-center mt-4">
        <div class="col-md-4 text-center">
            <a class="btn btn-primary btn-lg btn-block mb-3" href="@Url.Action("Create", "Pedido")">Crear Pedido</a>
            <a class="btn btn-primary btn-lg btn-block mb-3" href="@Url.Action("ListarPedidos", "Pedido")">Listar Pedidos</a>
        </div>
    </div>
</div>
